.order-cargo {
	margin-top: 180px;
	height: 570px;
	background: url("../images/order-cargo-bg.jpg") no-repeat center top;
	background-size: cover;
	margin-bottom: 170px;

	@include lg {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	@include sm {
		margin-top: 80px;
		height: auto;
		margin-bottom: 0;
		padding-top: 110px;
		background: url("../images/order-cargo-mobile-bg.jpg") no-repeat center top;
		background-size: contain;
	}

	&--service-single {
		@include sm {
			margin-top: 60px;
		}
	}

	&__container {
	}

	&__form {
	}

	&--about-page {
		margin-top: 150px;

		@include lg {
			margin-top: 100px;
		}

		@include sm {
			margin-top: 80px;
		}
	}
}

.order-cargo-form {
	margin-left: auto;
	max-width: 600px;
	transform: translateY(90px);
	background-color: var(--color-white);
	box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
	padding: 45px 40px;
	position: relative;

	@include md {
		margin-right: auto;
	}

	@include sm {
		padding: 0 30px 50px;
		margin: 0 -15px;
		transform: translateY(0);
		max-width: none;
	}

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 77px;
		background-color: var(--color-link-water);
		display: none;

		@include sm {
			display: block;
		}
	}

	&__title {
		text-align: center;

		@include sm {
			padding: 20px 30px;
			margin: 0 -30px;
			background-color: var(--color-link-water);
			font-size: 30px;
		}
	}

	&__grid {
		margin-top: 20px;
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;

		@include sm {
			margin-top: 30px;
			grid-template-columns: 100%;
		}
	}

	&__left {
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--textarea {
			flex: 1 0 auto;

			textarea {
				height: 100%;
			}
		}
	}

	&__form-control {
	}

	&__textarea {
		resize: none;
	}

	&__submit {
		margin: 25px auto 0;
		position: relative;
		z-index: 1;

		@include sm {
			width: 100%;
		}
	}
}