.transportation-possibility {
	margin-top: 160px;
	height: 580px;
	background: url("../images/transportation-possibility-bg.jpg") no-repeat center top;
	background-size: cover;
	position: relative;
	z-index: 10;
	--height: 0px;

	@include lg {
		margin-top: 100px;
	}

	@include sm {
		margin-top: 80px;
		padding-top: 110px;
		height: auto;
		background: url("../images/transportation-possibility-mobile-bg.jpg") no-repeat center top;
		background-size: contain;
	}

	&--service-single {
		margin-bottom: 300px;

		@include lg {
			margin-bottom: 220px;
		}

		@include sm {
			margin-bottom: 0;
		}
	}

	&__container {
		position: relative;

		@include sm {
			background-color: var(--color-white);
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: calc(62px + var(--height));
			background-color: var(--color-link-water);
			display: none;

			@include sm {
				display: block;
			}
		}
	}

	&__form {
	}
}

.transportation-possibility-form {
	margin: 0 auto;
	max-width: 930px;
	transform: translateY(385px);
	padding: 40px 100px 60px;
	background-color: var(--color-white);
	box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	position: relative;

	@include md {
		transform: translateY(155px);
		padding: 40px 30px 60px;
	}

	@include sm {
		padding: 0 30px 35px;
		margin: 0 -15px;
		transform: translateY(0);
		border-radius: 0;
		background-color: transparent;
		position: relative;
		z-index: 1;
	}

	&::before {
		content: "";
		position: absolute;
		top: -50px;
		right: -60px;
		width: 131px;
		height: 130px;
		background: url("../images/shipping-stages__circle-text.png") center no-repeat;

		@include md {
			display: none;
		}
	}

	&__title {
		text-align: center;
		max-width: 630px;
		margin: 0 auto;

		@include sm {
			max-width: none;
			margin: 0 -30px;
			padding: 15px;
			background-color: var(--color-link-water);
		}
	}

	&__fields {
		margin-top: 45px;
		display: grid;
		grid-template-columns: 1fr 1fr 170px;
		gap: 20px;
		align-items: end;

		@include sm {
			margin-top: 30px;
			grid-template-columns: 100%;
			gap: 25px;
		}
	}

	&__row {
	}

	&__label {
		font-size: 16px;
		line-height: 1.2;
		font-weight: 600;
		margin-bottom: 8px;
	}

	&__select {
		margin-top: 10px;
	}

	&__submit {
		width: 100%;
	}

	&__response {
		position: absolute;
		left: 100px;
		bottom: 20px;
		display: none;

		@include md {
			left: 30px;
		}

		@include sm {
			padding: 12px;
			background-color: var(--color-white);
			border-radius: 12px;
			position: relative;
			left: initial;
			bottom: initial;
			margin-top: 20px;
		}

		&._active {
			display: block;
		}

		&--available,
		&--unavailable {
			padding-left: 30px;
			font-size: 16px;
			line-height: 20px;
			font-weight: 600;
			color: var(--color-mine-shaft);
			background-position: top left;
			background-size: 20px;
			background-repeat: no-repeat;
		}

		&--available {
			background-image: url("../images/transportation-possibility-icon--available.svg");
		}

		&--unavailable {
			background-image: url("../images/transportation-possibility-icon--unavailable.svg");
		}
	}
}