.about-hero {
	height: 750px;
	position: relative;

	@include md {
		height: 600px;
	}

	@include sm {
		height: auto;
		margin-top: 10px;
	}

	&__grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: -1;

		@include sm {
			display: none;
		}
	}

	&__container {
		height: 100%;
		position: relative;
		z-index: 1;
	}

	&__left {
		background-color: var(--color-link-water);
	}

	&__right {
		background-color: var(--color-mine-shaft);
		background-image: var(--bgi-tablet);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__content {
		padding-top: 220px;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
		max-width: 460px;

		@include md {
			max-width: none;
			padding-right: 20px;
			padding-top: 90px;
			justify-content: center;
		}

		@include sm {
			margin-top: 15px;
			width: 100%;
			padding-right: 0;
			justify-content: flex-start;
			padding-top: 0;
		}
	}

	&__title {
		font-size: 55px;
		line-height: 1.1;

		@include md {
			font-size: 40px;
		}

		@include sm {
			font-size: 32px;
		}
	}

	&__subtitle {
		color: var(--color-st-tropaz);
		font-size: 55px;
		line-height: 1;
		font-weight: 900;
		text-align: center;

		@include lg {
			font-size: 54px;
		}

		@include md {
			margin-top: 5px;
			font-size: 40px;
			text-align: left;
		}

		@include sm {
			font-size: 32px;
		}
	}

	&__image {
		display: none;
		height: 200px;
		margin: 15px -15px 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left bottom;
		}

		@include sm {
			display: block;
		}
	}

	&__text {
		margin-top: 30px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 500;

		@include sm {
			margin-top: 15px;
			font-size: 14px;
			line-height: 18px;
		}

		p {
			margin: 0 0 25px;

			@include sm {
				margin: 0 0 20px;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}