.contacts-page-hero {
	height: 750px;
	position: relative;

	@include md {
		height: 600px;
	}

	@include sm {
		margin-top: 10px;
		height: auto;
	}

	&__grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: -1;

		@include sm {
			display: none;
		}
	}

	&__container {
		height: 100%;
		position: relative;
		z-index: 1;
	}

	&__left {
		background-color: var(--color-link-water);
	}

	&__right {
		background-color: var(--color-mine-shaft);
		background-image: var(--bgi);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__content {
		padding-top: 190px;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;

		@include lg {
			padding-right: 32px;
		}

		@include md {
			padding-top: 90px;
			padding-right: 20px;
			justify-content: center;
		}

		@include sm {
			width: initial;
			padding: 30px 15px 45px;
			background-color: var(--color-link-water);
			margin: 15px -15px 0;
		}
	}

	&__title {
		font-size: 55px;
		line-height: 1.1;

		@include md {
			font-size: 40px;
		}

		@include sm {
			font-size: 32px;
		}
	}

	&__subtitle {
		color: var(--color-st-tropaz);
		font-size: 48px;
		line-height: 1;
		font-weight: 500;

		@include md {
			font-size: 32px;
		}

		@include sm {
			font-size: 28px;
		}
	}

	&__cta {
		margin-top: 60px;

		@include md {
			margin-top: 35px;
		}
	}

	&__button {
		@include sm {
			width: 100%;
		}
	}

	&__map {
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 50%;
		max-width: 600px;
		height: 600px;
		background-color: var(--color-link-water);

		@include md {
			height: 510px;
		}

		@include sm {
			position: relative;
			left: 0;
			width: initial;
			height: 320px;
			margin: 0 -15px;
		}

		#map {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			max-width: 560px;
			max-height: 560px;

			@include lg {
				max-width: none;
				max-height: none;
			}
		}
	}
}

.contacts-page-hero-contacts {
	$self: &;

	margin-top: 40px;

	&__list {
	}

	&__item {
		--icon-color: var(--color-st-tropaz);
		--color: var(--color-mine-shaft);

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		&-icon {
			display: flex;
			width: 24px;
			height: 24px;
			flex: 0 0 24px;
			align-items: center;
			justify-content: center;
			margin-right: 15px;
			color: var(--icon-color);
			transition: 0.3s;

			svg {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.3;
		color: var(--color);

		&:hover {
			--icon-color: var(--color-steel-blue);
			--color: var(--color-steel-blue);
		}

		&:active {
			--icon-color: var(--color-st-tropaz);
			--color: var(--color-st-tropaz);
		}

		&-icon {
		}

		&-text {
			@include sm {
				color: var(--color-st-tropaz);
				text-decoration: underline;
				text-underline-offset: 5px;
			}
		}
	}

	&__text {
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: 500;
		line-height: 1.3;
		color: var(--color-mine-shaft);

		&-note {
			font-size: 15px;
			padding-left: 39px;
		}
	}
}

.instagram-feed {
	$self: &;

	margin-top: 135px;
	margin-bottom: 75px;
	position: relative;

	@include lg {
		margin-top: 100px;
		margin-bottom: 0;
	}

	@include sm {
		margin-top: 80px;
		padding-bottom: 80px;
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		@include sm {
			grid-template-columns: 100%;
			gap: 10px;
		}
	}

	&__link {
		margin-top: 20px;
		display: inline-flex;

		@include sm {
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;
		}

		&-icon1 {
			width: 28px;
			height: 28px;
		}

		&-icon2 {
		}
	}

	&__posts {
		margin-top: 55px;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 20px;
		position: relative;
		width: 100%;

		@include lg {
			grid-template-columns: repeat(4, 1fr);
		}

		@include md {
			gap: 15px;
		}

		@include sm {
			margin-top: 20px;
			padding: 0 15px;
			grid-template-columns: repeat(3, 1fr);
			gap: 10px;
		}

		&::before {
			content: "";
			position: absolute;
			top: -100px;
			left: 9%;
			width: 205px;
			height: 205px;
			background: url("../images/circle-text1.png") no-repeat center center;

			@include lg {
				display: none;
			}
		}
	}

	&__post {
	}

	.sbi_photo {
		position: relative;
		display: block;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-mine-shaft, 0.7);
			background-image: url("../images/eye-arrow-right--white.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 37px;
			z-index: 1;
			opacity: 0;
			transition: 0.3s;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}
}

.instagram-feed-post {
	&__image {
		position: relative;
		padding-bottom: 100%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__link {
		position: relative;
		display: block;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-mine-shaft, 0.7);
			background-image: url("../images/eye-arrow-right--white.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 37px;
			z-index: 1;
			opacity: 0;
			transition: 0.3s;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
		}
	}
}

.sbi {
	&[data-feedid="*1"] {
		.sbi-grid {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 20px;

			@include lg {
				grid-template-columns: repeat(4, 1fr);
			}

			@include md {
				gap: 15px;
			}

			@include sm {
				margin-top: 20px;
				padding: 0 15px;
				grid-template-columns: repeat(3, 1fr);
				gap: 10px;
			}
		}
	}

	.sbi_photo {
		opacity: 1 !important;
	}
}