.hero {
	height: 750px;
	position: relative;

	@include md {
		height: 600px;
	}

	@include sm {
		height: 500px;
		background: var(--bgi-mobile) center no-repeat;
		background-size: cover;
	}

	&__grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: -1;

		@include sm {
			display: none;
		}
	}

	&__container {
		height: 100%;
		position: relative;
		z-index: 1;
	}

	&__content {
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;

		@include md {
			justify-content: center;
		}

		@include sm {
			justify-content: flex-start;
		}
	}

	&__left {
		background-color: var(--color-link-water);
	}

	&__right {
		background-color: var(--color-mine-shaft);
		background-image: var(--bgi-tablet);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__content {
		padding-top: 200px;
		width: 50%;

		@include lg {
			padding-right: 32px;
		}

		@include md {
			padding-right: 20px;
			padding-top: 55px;
		}

		@include sm {
			width: 100%;
			padding-right: 0;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	&__title {
		font-size: 62px;
		line-height: 1.1;

		@include lg {
			font-size: 54px;
		}

		@include md {
			font-size: 40px;
		}

		@include sm {
			font-size: 32px;
			color: var(--color-white);
		}
	}

	&__subtitle {
		color: var(--color-st-tropaz);
		font-size: 48px;
		line-height: 1;
		font-weight: 500;

		@include lg {
			font-size: 46px;
		}

		@include md {
			margin-top: 5px;
			font-size: 32px;
		}

		@include sm {
			font-size: 28px;
			line-height: 1.1;
			color: var(--color-white);
		}
	}

	&__text {
		margin-top: 30px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 500;
		max-width: 375px;

		@include sm {
			font-size: 16px;
			line-height: 20px;
			color: var(--color-white);
			flex: 1 0 auto;
			display: flex;
			align-items: flex-end;
			max-width: none;
		}
	}

	&__cta {
		margin-top: 40px;
		display: flex;

		@include sm {
			margin-top: 25px;
			flex-direction: column;
		}
	}

	&__button {
		@include md {
			padding: 0 25px;
		}

		&:not(:last-child) {
			margin-right: 10px;

			@include sm {
				margin: 0 0 15px;
			}
		}

		&-first {
		}

		&-second {
			@include sm {
				--color: var(--color-white);
				--bgc: transparent;
			}
		}
	}
}

.home-services {
	margin-top: 135px;

	@include lg {
		margin-top: 100px;
	}

	@include sm {
		margin-top: 60px;
	}

	&__container {
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@include sm {
			grid-template-columns: 100%;
			gap: 20px;
		}
	}

	&__left {
		padding-right: 32px;
	}

	&__right {
		@include xs {
			display: none;
		}
	}

	&__title {
	}

	&__text {
		font-size: 18px;
		line-height: 1.3;
		font-weight: 500;

		p {
			margin: 0 0 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__carousel {
		position: relative;
		margin-top: 40px;

		@include sm {
			margin-top: 20px;
		}
	}

	&__slider {
	}

	&__navigation {
		display: inline-flex;
		align-items: center;
		position: absolute;
		top: 0;

		@include sm {
			position: static;
			margin-top: 25px;
			display: flex;
		}

		&-prev {
			margin-right: 20px;

			@include sm {
				margin-right: 12px;
			}
		}
	}

	&__pagination {
		margin-top: 25px;
		display: none;

		@include sm {
			display: block;
		}
	}
}

.home-services-slide {
	&__image {
		position: relative;
		padding-bottom: 57%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin-top: 90px;

		@include sm {
			margin-top: 20px;
		}
	}

	&__content {
		max-width: var(--slide-content-width);

		@include sm {
			max-width: unset;
		}
	}

	&__text {
		margin-top: 12px;

		@include sm {
			margin-top: 5px;
		}

		p {
			margin: 0 0 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__link {
		margin-top: 25px;
		display: inline-flex;

		@include sm {
			width: 100%;
		}
	}
}

.shipping-stages {
	margin-top: 180px;

	@include lg {
		margin-top: 100px;
	}

	@include sm {
		margin-top: 60px;
	}

	&__container {
	}

	&__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 40px 0;

		@include sm {
			grid-template-columns: 100%;
			gap: 30px 0;
		}
	}

	&__column {
		&:nth-child(1),
		&:nth-child(3) {
			padding-right: 32px;

			@include sm {
				padding-right: 0;
			}
		}

		&:nth-child(4) {
			@include sm {
				display: none;
			}
		}
	}

	&__title {
	}

	&__navigation {
	}

	&__text {
		font-size: 18px;
		line-height: 1.3;
		font-weight: 500;
	}

	&__image {
		margin-left: -60px;

		@include md {
			margin-left: 0;
		}
	}
}

.shipping-stages-navigation {
	max-width: 400px;

	@include sm {
		max-width: none;
	}

	&__list {
	}

	&__item {
		display: grid;
		grid-template-columns: 55px 1fr;
		gap: 20px;
		align-items: start;

		@include sm {
			gap: 15px
		}

		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}

	&__stage {
		margin-top: 6px;
		font-size: 14px;
		line-height: 1;
		font-weight: 600;
		color: rgba($color-st-tropaz, 0.5);
	}

	&__title {
		padding-bottom: 10px;
		border-bottom: 1px solid rgba($color-mine-shaft, 0.4);

		@include sm {
			font-size: 16px;
			line-height: 20px;
		}
	}
}

.trust {
	margin-top: 300px;

	@include lg {
		margin-top: 200px;
	}

	@include md {
		margin-top: 100px;
	}

	@include sm {
		margin-top: 60px;
	}

	&__container {
	}

	&__title {
	}

	&__grid {
		margin-top: 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		@include sm {
			display: none;
		}
	}

	&__item {
		height: 140px;
		background-color: var(--color-white);
		box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
		border-radius: 4px;
		padding: 20px;

		&-logo {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-height: 100%;
				height: auto;
				display: block;
			}
		}
	}

	&__carousel {
		//margin-top: 20px;
		display: none;

		@include sm {
			display: block;
		}
	}

	&__slider {
		height: 190px;
		padding: 20px 15px;
		margin: 0 -15px;
	}

	&__slide {
		height: 100%;
		background-color: var(--color-white);
		box-shadow: 0 4px 25px rgba(0, 0, 0, 0.05);
		border-radius: 4px;
		padding: 15px;

		@include sm {
			border-radius: 2px;
		}

		&-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;

			img {
				height: auto;
				display: block;
				max-height: 100%;
			}
		}
	}

	&__navigation {
		margin-top: 5px;
		display: flex;

		&-prev {
			margin-right: 12px;
		}
	}

	&__pagination {
		margin-top: 25px;
		display: none;

		@include sm {
			display: block;
		}
	}
}