@use "sass:meta";

.services-hero {
	height: 750px;
	position: relative;

	@include md {
		height: 600px;
	}

	@include sm {
		margin-top: 10px;
		height: auto;
	}

	&__grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: -1;

		@include sm {
			display: none;
		}
	}

	&__container {
		height: 100%;
		position: relative;
		z-index: 1;
	}

	&__left {
		background-color: var(--color-link-water);
	}

	&__right {
		background-color: var(--color-mine-shaft);
		background-image: var(--bgi-tablet);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__content {
		width: 50%;
		max-width: 450px;
		padding-top: 220px;
		height: 100%;
		display: flex;
		flex-direction: column;

		@include md {
			max-width: none;
			padding-right: 20px;
			padding-top: 90px;
			justify-content: center;
		}

		@include sm {
			width: 100%;
			max-width: none;
			padding-right: 0;
			padding-top: 0;
			margin-top: 15px;
		}
	}

	&__title {
		font-size: 55px;
		line-height: 1.1;

		@include md {
			font-size: 40px;
		}

		@include sm {
			font-size: 32px;
		}
	}

	&__subtitle {
		color: var(--color-st-tropaz);
		font-size: 55px;
		line-height: 1;
		font-weight: 900;
		text-align: center;

		@include md {
			font-size: 40px;
			text-align-last: left;
		}

		@include sm {
			font-size: 32px;
		}
	}

	&__image {
		display: none;
		height: 200px;
		margin: 15px -15px 0;

		@include sm {
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center bottom;
		}
	}

	&__text {
		margin-top: 30px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 500;

		@include sm {
			margin-top: 15px;
			font-size: 14px;
			line-height: 18px;
		}

		p {
			margin: 0 0 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.company-services {
	margin-top: 140px;

	@include lg {
		margin-top: 100px;
	}

	@include sm {
		margin-top: 60px;
	}

	&__container {
	}

	&__title {
		font-size: 48px;
		line-height: 1;
		font-weight: 800;
		color: var(--color-mine-shaft);
		margin: 0;

		@include sm {
			font-size: 30px;
		}
	}

	&__list {
		margin-top: 20px;

		@include sm {
			display: none;
		}
	}

	&__item {
	}

	&__carousel {
		display: none;

		@include sm {
			display: block;
		}
	}

	&__slider {
		margin-top: 15px;
	}

	&__navigation {
		margin-top: 25px;
		align-items: center;
		display: flex;

		&-prev {
			margin-right: 12px;
		}
	}

	&__pagination {
		margin-top: 25px;
	}
}

.company-service {
	border-bottom: 1px solid var(--color-mine-shaft);
	padding-bottom: 30px;
	margin-top: 30px;

	&:first-child {
		margin-top: 0;
		padding-top: 30px;
		border-top: 1px solid var(--color-mine-shaft);
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	&__left {
		@include md {
			padding-right: 30px;
		}
	}

	&__right {
		position: relative;
		align-self: end;

		@include md {
			align-self: stretch;
		}
	}

	&__image {
		max-width: 400px;

		img {
			object-fit: cover;
		}
	}

	&__content {
		max-width: 375px;
	}

	&__name {
		font-size: 24px;
		line-height: 1.1;
		font-weight: 700;
	}

	&__description {
		margin-top: 20px;

		p {
			margin: 0 0 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__link {
		position: absolute;
		bottom: 0;
		right: 0;
		--color: var(--color-st-tropaz);
		--bgc: transparent;
		--border-color: #{meta.inspect(rgba($color-st-tropaz, 0.5))};
		width: 54px;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color);
		border-radius: 50%;
		border: 2px solid var(--border-color);
		background-color: var(--bgc);
		transition: 0.3s;
		z-index: 10;
		font-size: 18px;
		font-weight: 700;

		@include md {
			--bgc: var(--color-link-water);
			--border-color: var(--color-link-water);

			margin-top: 10px;
			width: auto;
			position: relative;
			bottom: unset;
			right: unset;
			border-radius: 4px;
		}

		&:hover {
			transition: 0.3s;
			--bgc: var(--color-steel-blue);
			--color: var(--color-white);
			--border-color: var(--color-steel-blue);
		}

		&:active {
			--bgc: var(--color-st-tropaz);
			--color: var(--color-white);
			--border-color: var(--color-st-tropaz);
		}

		&-text {
			display: none;
			margin-right: 12px;

			@include md {
				display: block;
			}
		}

		&-icon {
			width: 16px;
			height: 16px;

			@include md {
				width: 24px;
				height: 24px;
			}

			svg {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}

.company-service-slide {
	&__image {

	}

	&__name {
		margin-top: 20px;
		font-size: 24px;
		line-height: 1.1;
		font-weight: 700;
		color: var(--color-mine-shaft);
	}

	&__description {
		margin-top: 5px;
		font-size: 14px;
		line-height: 18px;
		color: var(--color-mine-shaft);
	}
}

.company-features {
	margin-top: 180px;

	@include lg {
		margin-top: 100px;
	}

	@include sm {
		margin-top: 80px;
	}

	&__container {
	}

	&__title {
		max-width: 525px;
	}

	&__grid {
		margin-top: 40px;
		display: grid;
		grid-template-columns: 1fr 400px;

		@include lg {
			gap: 30px;
		}

		@include md {
			grid-template-columns: 100%;
		}

		@include sm {
			margin-top: 15px;
		}
	}

	&__column {
		&:nth-child(2) {
			@include md {
				display: none;
			}
		}
	}

	&__list {
		column-count: 2;
		column-gap: 30px;
		transition: height 0.3s;

		@include xs {
			height: 216px;
			overflow: hidden;
			column-count: unset;
			column-gap: unset;
		}
	}

	&__item {
		position: relative;
		padding-left: 16px;
		font-size: 14px;
		line-height: 18px;
		max-width: 320px;
		break-inside: avoid-column;

		@include md {
			max-width: none;
		}

		&::before {
			content: "";
			position: absolute;
			top: 5px;
			left: 0;
			width: 8px;
			height: 8px;
			background-color: var(--color-st-tropaz);
		}

		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__image {
		img {
			display: block;
		}
	}

	&__read-more {
		margin-top: 15px;
		display: none;
		font-size: 14px;
		line-height: 18px;
		color: var(--color-mine-shaft);
		border-bottom: 1px solid currentColor;

		@include xs {
			display: inline-block;
		}
	}
}