html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Gilroy", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
	color: var(--color-mine-shaft);
	background-color: var(--color-alabaster);
	overflow-anchor: none;
	-webkit-tap-highlight-color: transparent;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 0.3s;

	&:hover {
		transition: color 0.3s;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

button {
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
	outline: none;

	&:focus {
		outline: none;
	}
}

input {
	outline: none;
}

.wrapper {
	overflow: hidden;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 0 auto;
}

.stop-scroll {
	@include stop-scroll;
}

.is-hidden {
	display: none !important;
}

.error {
	border: 2px #ff4019 solid !important;
}

.visually-hidden {
	@include visually-hidden;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1230px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}