:root {
	--color-white: #fff;
	--color-st-tropaz: #22538b;
	--color-link-water: #dceaf4;
	--color-mine-shaft: #3d3d3d;
	--color-steel-blue: #4e7fb7;
	--color-royal-blue: #3a87df;
	--color-alabaster: #fafafa;

	--color-monza: #b00020;
}

$color-st-tropaz: #22538b;
$color-mine-shaft: #3d3d3d;
$color-white: #fff;