.breadcrumbs {
	&--about-page,
	&--services-archive,
	&--service-single,
	&--contacts {
		position: absolute;
		top: 105px;
		left: 15px;

		@include md {
			top: 71px;
		}

		@include sm {
			position: relative;
			top: unset;
			left: unset;
		}
	}

	&__list {
		display: flex;
	}

	&__item {
		position: relative;

		@include sm {
			display: none;

			&:nth-last-child(2) {
				display: block;

				margin-left: 0 !important;
				padding-left: 29px !important;

				&::before {
					content: "";
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%) rotate(180deg) !important;
					width: 24px;
					height: 24px;
					background: url("../images/chevron-right--breadcrumbs.svg") center no-repeat;
				}
			}
		}

		& + & {
			margin-left: 5px;
			padding-left: 29px;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 24px;
				height: 24px;
				background: url("../images/chevron-right--breadcrumbs.svg") center no-repeat;
			}
		}
	}

	&__link {
		color: rgba($color-mine-shaft, 0.6);

		@include md {
			color: var(--color-mine-shaft);
		}

		&:hover {
			color: var(--color-mine-shaft);
		}
	}

	&__current {
		color: var(--color-mine-shaft);
	}
}