.footer {
	$self: &;

	margin-top: 100px;
	background-color: #232d39;
	padding-top: 50px;

	@include sm {
		margin-top: 80px;
		padding-top: 10px;
	}

	&__container {
	}

	&__grid {
		display: flex;
		justify-content: space-between;

		@include md {
			display: grid;
			grid-template-columns: 185px 150px 150px 1fr;
			gap: 20px;
		}

		@include sm {
			grid-template-columns: 100%;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;

		&:nth-child(1) {
			width: 200px;

			@include md {
				width: unset;
			}
		}

		&:nth-child(4) {
			width: 230px;

			@include md {
				width: unset;
			}

			@include sm {
				#{$self}__column-title {
					display: none;
				}
			}
		}

		&-title {
			color: var(--color-white);
			line-height: 1;

			&--collapse {
				@include sm {
					text-align: center;
					cursor: pointer;
					user-select: none;
					position: relative;
					padding-right: 20px;
					margin: 0 auto;
					font-size: 24px;

					&._show {
						&::after {
							transform: translateY(-50%) rotate(180deg);
						}
					}

					&::after {
						content: "";
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%) rotate(0);
						width: 12px;
						height: 8px;
						background: url("../images/chevron-down--white.svg") center no-repeat;
						transition: 0.3s;
					}
				}
			}
		}
	}

	&__logo {
		max-width: 185px;
		padding-bottom: 20px;
		border-bottom: 1px solid rgba(#fff, 0.5);

		@include sm {
			max-width: none;
			padding-bottom: 10px;
		}

		img {
			height: auto;
			display: block;

			@include sm {
				max-width: 185px;
			}
		}
	}

	&__text {
		margin-top: 20px;
		font-size: 14px;
		line-height: 1.3;
		color: var(--color-white);

		@include sm {
			display: none;
		}
	}

	&__callback-button {
	}

	&__menu {
		margin-top: 20px;
	}

	&__contacts {
	}

	&__copyright {
		margin-top: 50px;
		padding: 15px 0;
		border-top: 1px solid rgba($color-white, 0.5);
		display: flex;
		align-items: center;

		@include sm {
			margin-top: 25px;
		}

		&-text {
			font-size: 14px;
			line-height: 1.3;
			color: var(--color-white);
		}
	}

	&__collapse {
		@media (min-width: 768px) {
			display: block !important;
		}
	}
}

.footer-callback-button {
	margin-top: 20px;
	display: flex;
	align-items: center;
	color: var(--color-white);
	font-size: 18px;
	line-height: 1.3;
	font-weight: 700;
	white-space: nowrap;
	transition: 0.3s;

	@include sm {
		margin-top: 25px;
		width: 100%;
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-st-tropaz);
		border-radius: 4px;
	}

	&:hover {
		color: var(--color-royal-blue);

		@include sm {
			color: var(--color-white);
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
		margin-right: 15px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
}

.footer-menu {
	&__list {
		@include sm {
			text-align: center;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;

			@include sm {
				margin-bottom: 15px;
			}
		}
	}

	&__link {
		color: var(--color-white);

		&:hover {
			color: var(--color-royal-blue);
		}
	}
}

.footer-contacts {
	$self: &;

	@include sm {
		display: none;
	}

	margin-top: 20px;

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		font-size: 14px;
		line-height: 1.3;
		color: var(--color-white);
		display: inline-flex;
		align-items: center;

		&:hover {
			color: var(--color-royal-blue);
		}

		&-text {
		}
	}

	&__icon {
		width: 24px;
		height: 24px;
		margin-right: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 24px;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__text {
		display: flex;
		align-items: flex-start;
		color: var(--color-white);
		font-size: 14px;
		line-height: 1.3;
	}
}

.footer-contacts-mobile {
	display: none;

	@include sm {
		display: block;
	}

	&__phone {
		text-align: center;
		font-size: 24px;
		line-height: 1;
		font-weight: 700;
		color: var(--color-royal-blue);
		margin: 0 auto;
		display: block;
	}

	&__list {
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__link {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		svg {
			width: 100%;
			height: 100%;
			display: block;
			color: var(--color-royal-blue);
		}
	}
}

.rc-logo {
	margin-left: 25px;
	flex: 0 0 84px;

	@include sm {
		flex: 0 0 75px;
		margin-right: 10px;
	}
}