@use "sass:meta";

.button {
	height: 54px;
	font-weight: 700;
	font-size: 18px;
	padding: 0 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	border-radius: 4px;
	color: var(--color);
	background-color: var(--bgc);

	&:hover {
		transition: 0.3s;
	}

	&--primary {
		--color: var(--color-white);
		--bgc: var(--color-st-tropaz);

		&:hover {
			--bgc: var(--color-steel-blue);
		}

		&:active {
			--bgc: var(--color-st-tropaz);
		}

		&:disabled {
			opacity: 0.4;
		}
	}

	&--secondary {
		--color: var(--color-st-tropaz);
		--bgc: var(--color-link-water);

		&:hover {
			--color: var(--color-white);
			--bgc: var(--color-steel-blue);
		}

		&:active {
			--color: var(--color-white);
			--bgc: var(--color-st-tropaz);
		}

		&:disabled {
			opacity: 0.4;
		}
	}

	&._loading {
		cursor: wait;
	}

	&--full {
		width: 100%;
	}

	&__icon {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;

		&--left {
			margin-right: 12px;
		}

		&--right {
			margin-left: 12px;
		}

		svg {
			display: block;
			width: 100%;
			height: 100%;
			transition: 0.3s;
			color: var(--color);
		}
	}
}

.button-slider-navigation {
	--color: var(--color-st-tropaz);
	--bgc: var(--color-white);
	--border-color: #{meta.inspect(rgba($color-st-tropaz, 0.5))};
	width: 54px;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color);
	border-radius: 50%;
	border: 2px solid var(--border-color);
	background-color: var(--bgc);
	transition: 0.3s;
	z-index: 10;

	&:hover {
		--bgc: var(--color-steel-blue);
		--color: var(--color-white);
		--border-color: var(--color-steel-blue);
	}

	&:active {
		--bgc: var(--color-st-tropaz);
		--color: var(--color-white);
		--border-color: var(--color-st-tropaz);
	}

	&.swiper-button-disabled {
		--bgc: var(--color-white);
		--color: #{meta.inspect(rgba($color-st-tropaz, 0.4))};
		--border-color: #{meta.inspect(rgba($color-st-tropaz, 0.4))};
	}

	svg {
		display: block;
		width: 24px;
		height: 24px;
	}
}

.form-row {
}

.form-control {
	width: 100%;
	height: 54px;
	border: 1px solid var(--color-mine-shaft);
	border-radius: 4px;
	font-size: 14px;
	line-height: 1.3;
	color: var(--color-mine-shaft);
	padding: 17px 20px;
	appearance: none;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

	&::placeholder {
		opacity: 0.8;
	}

	&:focus {
		border-color: var(--color-st-tropaz);
		box-shadow: 0 0 0 4px rgba(lighten($color-st-tropaz, 10%), 0.25);
		outline: none;
	}
}

.form-error {
	color: var(--color-monza);
	display: none;
	font-size: 12px;
	line-height: 14px;
	margin-top: 5px;
	padding-left: 0;

	&._active {
		display: block;
	}
}

.form-checkbox {
	$self: &;

	&__label {
		cursor: pointer;
		user-select: none;
	}

	&__input {
		&:checked {
			+ #{$self}__text {
				&::before {
					background-color: var(--color-st-tropaz);
					border-color: var(--color-st-tropaz);
				}

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 18px;
					height: 18px;
					background-image: url("../images/check-solid--white.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 14px;
				}
			}
		}
	}

	&__text {
		padding-left: 30px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 18px;
			height: 18px;
			border: 2px solid rgba(#1e1e1e, 0.6);
			border-radius: 2px;
			transition: 0.3s;
		}
	}
}