.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0;
	z-index: 10;

	@include md {
		padding: 15px 0;
	}

	@include sm {
		background-color: var(--color-alabaster);
		position: relative;
	}

	&__container {
	}

	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 64px;
		align-items: center;

		@include sm {
			display: flex;
			gap: 0;
			justify-content: space-between;
		}
	}

	&__right {
	}

	&__left {
		display: flex;
		align-items: center;
	}

	&__logo {
		width: 100%;
		max-width: 185px;
		display: block;

		@include sm {
			width: 150px;
		}

		img {
			display: block;
			height: auto;
		}
	}

	&__navigation {
	}

	&__phone {
		margin-left: auto;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 24px;
		color: var(--color-white);

		@include sm {
			color: var(--color-mine-shaft);
			margin-left: unset;
		}

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	&__language-switcher {
		margin-left: 30px;

		@include lg {
			margin-left: 20px;
		}

		@include md {
			display: none;
		}
	}

	&__bars {
		display: none;
		align-items: center;
		justify-content: center;
		color: var(--color-white);
		width: 24px;
		height: 24px;
		flex: 0 0 24px;
		margin-left: 20px;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}

		@include md {
			display: flex;
		}

		@include sm {
			color: var(--color-mine-shaft);
		}
	}
}

.header-navigation {
	@include md {
		display: none;
	}

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 22px;

			@include lg {
				margin-right: 20px;
			}
		}
	}

	&__link {
		color: var(--color-white);
		font-size: 16px;
		font-weight: 600;
		line-height: 1.2;
		border-bottom: 1px solid transparent;
		transition: 0.3s;
		padding: 5px 0;

		&:hover {
			border-color: var(--color-white);
			transition: 0.3s;
		}
	}
}