.language-switcher {
	&__list {
		display: flex;
	}

	&__item {
		font-size: 16px;
		line-height: 1;
		font-weight: 600;
		color: var(--color-white);
		position: relative;
		text-transform: capitalize;

		&:not(:last-child) {
			margin-right: 12px;

			&::after {
				content: "";
				position: absolute;
				width: 2px;
				height: 24px;
				top: 50%;
				right: -7px;
				transform: translateY(-50%);
				background-color: var(--color-white);
			}
		}
	}

	&__link {
		opacity: 0.5;
		transition: 0.3s;

		&:hover {
			opacity: 1;
			transition: 0.3s;
		}
	}

	&__current {

	}
}