.as-modal {
	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			width: 24px;
			height: 24px;
			display: block;
			color: var(--color-mine-shaft);
		}
	}
}

.callback-modal {
	&__dialog {
	}

	&__content {
		border: none;
		border-radius: 4px;
		overflow: hidden;
	}

	&__body {
		padding: 25px 85px 70px;

		@include sm {
			padding: 15px 15px 50px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 95px;
			background-color: var(--color-link-water);

			@include xs {
				height: 77px;
			}
		}
	}

	&__header {
		padding: 35px 85px 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-link-water);

		@include sm {
			padding: 30px 15px 15px;
		}
	}

	&__title {
		text-align: center;

		@include sm {
			font-size: 30px;
		}
	}

	&__form {
		position: relative;
		z-index: 1;
	}
}

.callback-modal-form {
	&__description {
		font-size: 18px;
		line-height: 1.3;
		font-weight: 500;
		max-width: 300px;
		margin: 0 auto 15px;
		text-align: center;

		@include sm {
			font-size: 14px;
			line-height: 18px;
			max-width: 215px;
		}
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__control {
	}

	&__submit {
		margin-top: 25px;

		@include xs {
			margin-top: 20px;
		}
	}
}

.order-transportation-modal {
	&__dialog {
		@media (min-width: 768px) {
			max-width: 600px;
		}
	}

	&__content {
		border: none;
		border-radius: 4px;
		overflow: hidden;
	}

	&__body {
		padding: 35px 35px 55px;

		@include sm {
			padding: 30px 15px 50px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 82px;
			background-color: var(--color-link-water);

			@include sm {
				height: 77px;
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--color-link-water);
		padding: 35px 35px 30px;

		@include sm {
			padding: 25px 15px 15px;
		}
	}

	&__title {
		text-align: center;

		@include sm {
			font-size: 30px;
		}
	}

	&__form {
		position: relative;
		z-index: 1;
	}
}

.order-transportation-modal-form {
	&__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		margin-bottom: 10px;

		@include sm {
			grid-template-columns: 100%;
		}
	}

	&__left {
	}

	&__right {
		display: flex;
		flex-direction: column;
	}

	&__row {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&--textarea {
			flex: 1 0 auto;

			textarea {
				height: 100%;
				resize: none;
			}
		}
	}

	&__control {
	}

	&__submit {
		margin: 30px auto 0;

		@include sm {
			margin-top: 20px;
			width: 100%;
		}
	}
}

.thank-you-modal {
	&__dialog {
	}

	&__content {
		border: none;
		border-radius: 4px;
		overflow: hidden;
	}

	&__body {
		padding: 25px 35px 40px;

		@include sm {
			padding: 20px 15px 50px;
		}

		&-description {
			font-size: 24px;
			line-height: 1;
			font-weight: 700;
			text-align: center;
			max-width: 320px;
			margin: 0 auto;

			@include sm {
				font-size: 20px;
			}
		}
	}

	&__header {
		background-color: var(--color-link-water);
		padding: 45px 75px 25px;

		@include sm {
			padding: 30px 15px 15px;
		}

		&-title {
			font-size: 36px;
			line-height: 0.9;
			font-weight: 800;
			text-align: center;

			@include sm {
				font-size: 30px;
				line-height: 1;
			}
		}

		&-subtitle {
			margin-top: 20px;
			font-size: 24px;
			line-height: 1.1;
			font-weight: 700;
			text-align: center;

			@include sm {
				margin-top: 10px;
				font-size: 20px;
			}
		}

		&-description {
			margin-top: 15px;
			font-size: 18px;
			line-height: 24px;
			font-weight: 500;
			text-align: center;

			@include sm {
				margin-top: 10px;
				font-size: 14px;
				line-height: 18px;
			}

			p {
				margin-bottom: 0;
			}
		}
	}

	&__instagram-feed {
		margin-top: 10px;
	}
}

.thank-you-modal-instagram-feed {
	display: flex;
	flex-direction: column;

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;

		@include sm {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&__item {
		@include sm {
			display: none;

			&:nth-child(-n+6) {
				display: block;
			}
		}
	}

	&__link {
		display: block;
	}

	&__image {
		display: block;
		position: relative;
		padding-bottom: 100%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__see-more {
		margin: 20px auto 0;
		display: inline-flex;

		@include sm {
			padding: 0 15px;
			width: 100%;
		}
	}

	.sbi_item {
		@include sm {
			display: none;

			&:nth-child(-n+6) {
				display: block;
			}
		}
	}
}