.offcanvas-menu {
	border-left: none;

	&__header {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 15px;
			right: 15px;
			height: 1px;
			background-color: rgba($color-mine-shaft, 0.5);
		}
	}

	&__logo {
		width: 185px;

		@include sm {
			width: 150px;
		}

		img {
			height: auto;
			display: block;
		}
	}

	&__language-switcher {
	}

	&__close {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-mine-shaft);

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	&__body {
		padding: 30px 15px;
		display: flex;
		flex-direction: column;
	}

	&__navigation {
	}

	&__phone {
		height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		line-height: 1;
		color: var(--color-st-tropaz);
		font-weight: 700;
		border: 2px solid var(--color-st-tropaz);
		border-radius: 4px;
		transition: 0.3s;

		&:hover {
			color: var(--color-white);
			background-color: var(--color-steel-blue);
			border-color: var(--color-steel-blue);
			transition: 0.3s;
		}

		&:active {
			color: var(--color-white);
			background-color: var(--color-st-tropaz);
			border-color: var(--color-st-tropaz);
		}

		&-icon {
			width: 24px;
			height: 24px;
			margin-right: 10px;

			svg {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}

	&__callback {
		margin-top: 15px;
	}
}

.offcanvas-menu-language-switcher {
	&__flag {
		margin-right: 5px;
		width: 18px;
		height: 12px;
		flex: 0 0 18px;

		img {
			display: block;
		}
	}

	&__dropdown {
	}

	&__dropdown-toggle {
		position: relative;
		padding: 5px 15px 5px 5px;
		display: flex;
		align-items: center;
		font-size: 18px;
		line-height: 1;
		color: var(--color-mine-shaft);
		font-weight: 700;
		text-transform: capitalize;

		&::after {
			all: unset;
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			width: 12px;
			height: 8px;
			background: url("../images/chevron-down--black.svg") center no-repeat;
		}
	}

	&__dropdown-menu {
		min-width: unset;
		width: 100%;
		border: none;
	}

	&__dropdown-item {
		padding: 5px 15px 5px 5px;
		display: flex;
		align-items: center;
		font-size: 18px;
		line-height: 1;
		color: var(--color-mine-shaft);
		font-weight: 700;
		text-transform: capitalize;

		&:active {
			color: unset;
			background-color: unset;
		}
	}
}

.offcanvas-menu-navigation {
	flex: 1 0 auto;

	&__list {
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__link {
		font-size: 36px;
		line-height: 1.1;
		font-weight: 700;
		color: var(--color-mine-shaft);
	}
}