.as-slider {
	&__pagination {
		.swiper-pagination-bullets {
			&.swiper-pagination-horizontal {
				position: relative;
				bottom: unset;
				left: unset;
				display: grid;
				grid-template-columns: repeat(var(--slides-count), 1fr);
				gap: 12px;
			}
		}

		.swiper-pagination-bullet {
			margin: 0 !important;
			width: 100%;
			height: 3px;
			border-radius: 0;

			--swiper-pagination-bullet-inactive-color: var(--color-st-tropaz);
			--swiper-pagination-bullet-inactive-opacity: 0.4;
			--swiper-pagination-color: var(--color-st-tropaz);
		}
	}
}