.text-editor {
	font-size: 14px;
	line-height: 18px;

	&__container {
	}

	&__inner {
		> * {
			max-width: 1000px;
		}
	}

	h1 {
		@include h1;
	}

	h2 {
		@include h2;

		margin-bottom: 20px;
	}

	h3 {
		@include h3;

		margin-bottom: 15px;
	}

	h4 {
		@include h4;
	}

	img {
		margin-top: 15px;
		margin-bottom: 15px;
		height: auto;
	}

	p {
		&:not(:last-child) {
			margin: 0 0 20px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin: 0 0 35px;

		li {
			padding-left: 12px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 6px;
				left: 0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--color-mine-shaft);
			}

			&:not(:last-child) {
				margin-bottom: 8px;
			}
		}
	}

	ol {
		margin: 0 0 35px;
		list-style: decimal inside;
		padding: 0;
	}
}