@mixin h1 {
	margin: 0;
	font-size: 55px;
	line-height: 1;
	font-weight: 900;
	color: var(--color-mine-shaft);
	text-transform: uppercase;

	@include md {
		font-size: 44px;
	}

	@include sm {
		font-size: 32px;
		line-height: 1.1;
		font-weight: 800;
	}
}

@mixin h2 {
	margin: 0;
	font-size: 48px;
	line-height: 1;
	font-weight: 800;
	color: var(--color-mine-shaft);

	@include md {
		font-size: 40px;
	}

	@include sm {
		font-size: 30px;
		line-height: 1;
	}
}

@mixin h3 {
	margin: 0;
	font-size: 36px;
	line-height: 1;
	font-weight: 800;
	color: var(--color-mine-shaft);

	@include md {
		font-size: 30px;
	}

	@include sm {
		font-size: 24px;
		line-height: 1.1;
		font-weight: 700;
	}
}

@mixin h4 {
	margin: 0;
	font-size: 24px;
	line-height: 1.1;
	font-weight: 700;
	color: var(--color-mine-shaft);

	@include md {
		font-size: 22px;
	}

	@include sm {
		font-size: 20px;
		line-height: 1.1;
	}
}

.h1 {
	@include h1
}

.h2 {
	@include h2
}

.h3 {
	@include h3
}

.h4 {
	@include h4
}