.service-single-hero {
	height: 750px;
	position: relative;

	@include md {
		height: 600px;
	}

	@include sm {
		margin-top: 10px;
		height: auto;
	}

	&__grid {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		z-index: -1;

		@include sm {
			display: none;
		}
	}

	&__container {
		height: 100%;
		position: relative;
		z-index: 1;
	}

	&__content {
		padding-top: 240px;
		height: 100%;
		width: 50%;
		display: flex;
		flex-direction: column;
	}

	&__left {
		background-color: var(--color-link-water);
	}

	&__right {
		background-color: var(--color-mine-shaft);
		background-image: var(--bgi);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&__content {
		width: 50%;
		max-width: 480px;

		@include md {
			max-width: none;
			padding-top: 90px;
			padding-right: 20px;
			justify-content: center;
		}

		@include sm {
			margin-top: 15px;
			width: 100%;
			padding-right: 0;
			padding-top: 0;
			justify-content: flex-start;
		}
	}

	&__title {
		font-size: 55px;
		line-height: 1.1;

		@include md {
			font-size: 40px;
		}
	}

	&__subtitle {
		color: var(--color-st-tropaz);
		font-size: 48px;
		line-height: 1;
		font-weight: 500;

		@include md {
			font-size: 32px;
		}
	}

	&__image {
		display: none;
		height: 200px;
		margin: 15px -15px 0;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center bottom;
		}

		@include sm {
			display: block;
		}
	}

	&__text {
		margin-top: 25px;
		font-size: 18px;
		line-height: 1.3;
		font-weight: 500;

		@include sm {
			font-size: 14px;
			line-height: 18px;
		}

		p {
			margin: 0 0 25px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__cta {
		margin-top: 40px;

		@include sm {
			margin-top: 20px;
		}
	}

	&__button {
		@include sm {
			width: 100%;
		}
	}
}

.service-single {
	&__text-editor {
		margin-top: 135px;

		@include lg {
			margin-top: 100px;
		}

		@include sm {
			margin-top: 80px;
		}
	}
}